body {
  margin: 0;
  padding: 0;
}

#main {
  height: 100vh;
  display: flex;
  justify-content: space-around;

}
#AT {
  width: 100%;
  height: auto;
  z-index: -1;
  position: absolute;
}
h1 {
  color: #fff;
  font-family: 'Merriweather', Arial, sans-serif;
}
.icons {
  color: #fff;
}
button {
  border: none;
  background: none;
  color: #fff;
}
#work, #rest {
  display: flex;
  flex-direction: column;
  align-items: center;
}
